@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
  display: block;
}
*{
  font-family: Outfit;

}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
  display: none;
}
@media screen and (max-width: 460px) { /* Set your desired max-width */
  a.active {
    background-color: black;
    color: white; /* Fixed spelling: 'color' instead of 'collor' */
  }
}
html {
  scroll-behavior: smooth;
}
